<div class="content-inner">
	<h1>Compétences</h1>
	<hr class="my-4">
	<h3>Langages</h3>
	<div class="langages">
		<img class="icone" src="https://maxcdn.icons8.com/Color/PNG/96/Logos/html_5-96.png" title="Html 5" width="96" alt="logo html" >
		<img class="icone" src="https://fr-static.z-dn.net/files/dd0/3d1dbad76221f01ac0b2149a4742e4cc.jpg" alt="logo css">
		<img class="icone" src="http://www.eotim.com/previews/consultant-crm-dynamics-1445332969233.png" alt="logo Js">
		<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Php_logo.svg/100px-Php_logo.svg.png" alt="php">  
	</div>
	<h3>Librairies</h3>
	<div>
		<img class="icone" src="/assets/angular2.png" alt="angular">
		<img class="icone" src="/assets/react.png" alt="react">
		<img class="icone" src="/assets/nodejs.png" alt="node">
		<img class="icone" src="/assets/bootstrap.png" alt="bts">
		<img class="icone" src="/assets/semantic.png" alt="node">
	</div>
	<h3>Outils</h3>
	<p>Git, Webpack, Babel, Sass, Trello</p>
	<h3>Gestion de projet</h3>
	<ul class="gestion">
		<li>Méthode Agile</li>
		<li>Analyse et compréhension du besoin client</li>
		<li>Rédaction documentation technique</li>
	</ul>

	<h1>Expériences</h1>
	<hr class="my-4">

	<h1>Formation et diplômes</h1>
	<hr class="my-4">
	<h4>Formation Développeur Web, Chargé de projet Numérique</h4>
	<h5>Simplon Toulouse - sept 2016- mars 2017</h5>
	<p>Formation intensive et non académique de 6 mois, soit 900h effectives dont  95 % du temps  consacrées aux codes. Elle est basée sur la pratique à travers plusieurs projets ( pédagogiques et clients)</p>
	<h4>Master 2 Economie et Management du Tourisme International</h4>
	<h5>Université Toulouse 1 Capitole, IAE Toulouse - 2013</h5>
	<h4>Licence Langues Etrangères Appliquées(Anglais - Allemand)</h4>
	<h5>Université Toulouse Jean Jaurès - 2009</h5>
	<h1>Centre d'intérêt</h1>
	<hr class="my-4">
	<ul>
		<li>Veille technologique</li>
		<li>Meet-up</li>
		<li>Hackathons</li>
		<li>Hour of Code</li>
		<li>Développement personnel</li>
		<li>Musique : Pratique de la guitare
		(autodidacte) 
		</li>
		<li>Chant: membre d’un groupe de
		gospel (2008-2010)</li>
	</ul>

</div>
