	<h1 class="page-title">Portfolio</h1>
	<div class=" portfolio col-sm-8 " *ngFor="let project of projects" [class.selected]="project === selectedProject">
			<div class="wrap-card">
				<div class="card-image">	
					<img src="{{project.imgUrl}}" alt="foto du site" class="fotoProjet">
				</div>
				<div class="text">
					<h3>{{project.name}}</h3>
				  	<p>{{project.shortDescription}}</p>
				  	<h5>Technos : {{project.techno}}</h5>
				  	<button class="mybtn btn btn-primary btn-sm"(click)="gotoDetail(project)">Voir détail</button>					
				</div>									
			</div>
	</div>

<!-- </div> -->
<!-- <div *ngIf="selectedProject" class= "portfolio">
	<button (click)="gotoDetail()">Voir détail</button>
</div> !-->