	<div class="container">
		<div class="sidebar">
			<div class="texte">	
				<h1>{{name}}</h1>
				<img src="assets/fotoprofil.jpg" alt="ma photo" >
				<p>Developpeuse Web, lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione harum in sit temporibus odio delectus debitis.</p>
				<menu>
					<div><a routerLink="/home">Bio</a></div>
					<div><a routerLink="/about">CV</a></div>
					<div><a routerLink="/portfolio">Portfolio</a></div>
					<div><a routerLink="/playground">Playground</a></div>
				</menu>
			</div>     			
			<div class="socialMedia">
				<div>
					<a href="https://twitter.com/?lang=fr"><i class="twit fa fa-twitter fa-2x"></i></a> 
				</div>
				<div>
					<a href="https://github.com/"><i class=" git fa fa-github fa-2x" aria-hidden="true"></i></a>
				</div>
				<div>
					<a href="https://linkedin.com/"><i class=" linkedin fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
				</div>
			</div>			
		</div>
		<div class="content"><router-outlet></router-outlet></div>
	</div>
